version: 2.1

orbs:
  python: circleci/python@0.2.1

jobs:
  working_directory: ~/superset
  mypy:
    executor: python/default
    steps:
      - checkout
      - python/load-cache
      - python/install-deps
      - python/save-cache
      - run:
          command: TOXENV=mypy tox
          name: mypy

workflows:
  main:
    jobs:
      - build-and-test
