name: Cancel Duplicates
on:
  workflow_run:
    workflows:
      [
        "Docker",
        "Docs",
        "E2E",
        "Frontend",
        "Miscellaneous",
        "Python MySQL",
        "Python Presto/Hive",
        "Python Misc",
        "Tags",
        "Translations",
      ]
    types: ["requested"]

jobs:
  cancel-duplicate-workflow-runs:
    name: "Cancel duplicate workflow runs"
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: ./.github/actions/cancel-workflow-runs/
        name: "Cancel duplicate workflow runs"
        with:
          cancelMode: duplicates
          cancelFutureDuplicates: true
          token: ${{ secrets.GITHUB_TOKEN }}
          sourceRunId: ${{ github.event.workflow_run.id }}
          notifyPRCancel: false
