name: Cancel Duplicates
on:
  # Checks for duplicate jobs on every push (merge) and every 10 minutes
  push:
  schedule:
    - cron: "*/10 * * * *"

jobs:
  cancel-duplicate-runs:
    name: Cancel duplicate workflow runs
    runs-on: ubuntu-20.04
    continue-on-error: true
    steps:
      - name: Check number of queued tasks
        id: check_queued
        run: |
          count=$(curl -s -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" \
                  "https://api.github.com/repos/${{ github.repository }}/actions/runs?status=queued,in_progress" | \
                   jq ".total_count")
          echo "Found $count unfinished jobs."
          echo "::set-output name=count::$count"
          if [[ $count -lt 20 ]]; then
            echo "Less than 20 pending workflows runs, skip cancelling..."
            exit 1
          fi
          echo "will cancel duplicates.."

      - uses: potiuk/cancel-workflow-runs@953e057dc81d3458935a18d1184c386b0f6b5738
        name: "Cancel duplicate workflow runs"
        with:
          cancelMode: allDuplicates
          token: ${{ secrets.GITHUB_TOKEN }}
          notifyPRCancel: false
